.custom-table {
    border-collapse: collapse;
    width: 40%;
}

.custom-table tr {
    border-bottom: 1px solid #dddddd;
}

.custom-table th,
.custom-table td {
    border: 1px solid #dddddd;
    padding: 5px;
}

.custom-table th {
    background-color: #f2f2f2;
}