.drinkpagecategories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0px;
    text-align: center;
}

.header {
    text-align: center;
  }

.drinkpagecategories .container {
    width: 25%;
    min-width: 300px;
    height: 180px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 5px;
}

.drinkpagecategories .container img{
    width: 35%;
    object-fit: cover;
}
.drinkpagecategories .container .content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.drinkpagecategories .content{
    display: flex;
    flex-direction: column;
}
.drinkpagecategories .container .content h1{
    font-size: 20px;
    font-weight:400;
    margin: 0;
}

.drinkpagecategories .container .content p{
    font-size: 15px;
    font-weight:300;
    margin: 0;
    padding: 0px;
}

.drinkpagecategories .container:nth-child(1){
    background-color: #fbdc6e;
    color: rgb(0, 0, 0);
}


.drinkpagecategories .container:nth-child(2){
    background-color: #ff9393;
    color: rgb(0, 0, 0);
}


.drinkpagecategories .container:nth-child(3){
    background-color: #ffabe4;
    color: rgb(0, 0, 0);
}


.drinkpagecategories .container:nth-child(4){
    background-color: #a8d0e6;
    color: rgb(0, 0, 0);
}